<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>www</title>
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
	</head>
	
	<body>
		<header>
			
		</header>
		
		<section>
			
		</section>
	
		<main>
			<article>
				{% block list %}
                	There is no any content yet
            	{% endblock %}
			</article>
	
			<aside>
				{% block aside %}
                	There is no any content yet
            	{% endblock %}
			</aside>
		</main>
	
		<footer>
			
		</footer>
	</body>
</html>